<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Demo</title>

  <!-- Favicon -->
  <link th:href="@{/img/favicon.ico}" rel="icon">

  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link th:href="@{https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap}" rel="stylesheet">

  <!-- Icon Font Stylesheet -->
  <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css}" rel="stylesheet">
  <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css}" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

  <!-- Custom CSS -->
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<!-- Check if data attribute is present in the model -->
<div th:if="${data}">
  <h1>I am in !!!</h1>
</div>

<!-- Handle the case where data attribute is not present (error) -->
<div th:unless="${data}">
  <h1>Error Occurred</h1>
  <p>There was an error processing your request.</p>
  <!-- You can customize the error message further based on your requirements -->
</div>

</body>
</html>