<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moonlight Hotel</title>

    <!-- Favicon -->
    <link th:href="@{/img/favicon.ico}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link th:href="@{https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap}" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css}" rel="stylesheet">
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css}" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="bg-dark">

    <div class="container-fluid bg-dark px-0  border-header">
        <div class="container pb-5">
            <div class="navbar-brand w-100 h-100 m-0 p-0 d-flex align-items-center justify-content-center">
                <a th:href="@{/api/v1/home}">
                    <h1 class="m-0 text-register-header text-uppercase pt-20">Moonlight Hotel</h1>
                </a>
            </div>
        </div>
    </div>



    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">User Login</h3>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/api/v1/login}" method="post" th:object="${loginRequest}">


                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email" th:field="*{email}" required>
                                <div th:if="${#fields.hasErrors('email')}" style="color: red;">
                                    <p th:errors="*{email}"></p>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password" th:field="*{password}" required>
                                <div th:if="${#fields.hasErrors('password')}" style="color: red;">
                                    <p th:errors="*{password}"></p>
                                </div>
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Login</button>
                            </div>
                            <div class="text-center pt-3">
                                <p>Forgotten password? <a th:href="@{/api/v1/forgotten-password}">Click here</a></p>
                            </div>

                            <div th:if="${data}">
                                <h1>Access denied</h1>
                                <p>Your account do not have required role to access this endpoint.</p>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light footer-register wow fadeIn" data-wow-delay="0.1s">
        <div class="container pb-5">
            <div class="row g-5">
                <div class="col-md-6 col-lg-4">
                    <div class="bg-primary rounded p-4">
                        <a th:href="@{/api/v1/home}">
                            <h1 class="text-white text-uppercase mb-3">Moonlight Hotel</h1>
                        </a>
                        <p class="text-white mb-0">
                            Download <a th:href="@{/api/v1/home}" class="text-dark fw-medium" >our brochure</a>, to explore our facilities, room, services and many more.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <h6 class="section-title text-start text-primary text-uppercase mb-4">Contact</h6>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>51 Westbeech Road, London</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+44 7729 294 397</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@moonlight.co.uk</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12">
                    <div class="row gy-5 g-4">
                        <div class="col-md-6">
                            <h6 class="section-title text-start text-primary text-uppercase mb-4">Company</h6>
                            <a th:href="@{/api/v1/home}" class="btn btn-link">About Us</a>
                            <a th:href="@{/api/v1/home}" class="btn btn-link">Contact Us</a>
                            <a th:href="@{/api/v1/home}" class="btn btn-link">Privacy Policy</a>
                            <a th:href="@{/api/v1/home}" class="btn btn-link">Terms & Condition</a>
                            <a th:href="@{/api/v1/home}" class="btn btn-link">Support</a>
                        </div>
                        <div class="col-md-6">
                            <h6 class="section-title text-start text-primary text-uppercase mb-4">Services</h6>
                            <a th:href="@{/api/v1/home}" class="btn btn-link">Food & Restaurant</a>
                            <a th:href="@{/api/v1/home}" class="btn btn-link">Spa & Fitness</a>
                            <a th:href="@{/api/v1/home}" class="btn btn-link">Sports & Gaming</a>
                            <a th:href="@{/api/v1/home}" class="btn btn-link">Event & Party</a>
                            <a th:href="@{/api/v1/home}" class="btn btn-link">GYM & Yoga</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a th:href="@{/api/v1/home}" class="border-bottom" >Moonlight Enterprise</a>, All Right Reserved.
                        Designed By <a th:href="@{/api/v1/home}" class="border-bottom" >Hacker Chechi</a>
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <div class="footer-menu">
                            <a th:href="@{/api/v1/home}">Home</a>
                            <a th:href="@{/api/v1/home}">Cookies</a>
                            <a th:href="@{/api/v1/home}">Help</a>
                            <a th:href="@{/api/v1/home}">FQAs</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->
</div>

<script>
    document.getElementById('loginForm').addEventListener('submit', function(event) {
        event.preventDefault();
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;
        console.log('Form submitted:', { email, password });
        // Rest of your form submission logic
    });
</script>

<!-- Bootstrap JS (optional) -->
<script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>
